name: Format

on: 
  - push
  - pull_request

jobs:
  run-clang-format:
    name: Run check format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: |
           find . -path ./build -prune -o -type f -name '*.[c|h]' -print | xargs clang-format-18 --style=file --dry-run -Werror
